@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Yeseva+One&display=swap");

@import "tailwindcss";

@theme {
  --font-yeseva: Yeseva One, serif;
  --font-work: Work Sans, serif;
  --color-primary: #1f2b6c;
  --color-secondary: #159eec;
  --color-extra: #bfd2f8;
}

.react-time-picker__wrapper {
  border: none !important; /* Removes default border */
  padding: 0 !important; /* Removes extra padding */
  margin: 0 !important; /* Ensures no margins */
}
.react-time-picker__inputGroup {
  padding: 0 !important;
}

.react-time-picker__wrapper {
  border: none !important;
  padding: 0.5rem;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container input {
  background: transparent !important;
  color: white !important;
  width: 100%;
  padding: 0.5rem;
}
